{% extends "navbar.html" %}

{% block navbar_body %}
<div class="container">
  <div class="jumbotron">
    <h2>About our project</h2><br>
    <p>See3D connects us all together. Eventually, anyone who is blind or visually impaired will be able to request a model on a website made primarily with accessibility in mind. Teachers of the visually impaired will also be able to request models to facilitate the learning process. From there, the request will show up in the gallery, where a student from a participating school can take on the request. When the model is finished, the student can ship the model out and fulfill the request.</p>
    <p>Eventually, we hope to extend this project to the greater Cincinnati area, involving a wide variety of schools to participate and to help improve the effort.</p>
  </div>
</div>
{% endblock %}
