{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>About our project</h2><br>
    <p>See3D connects us all together. Anyone who is blind or visually impaired will be able to request a model on a website made primarily with accessibility in mind. From there, the request will show up in the gallery, where a student from a participating school can take on the request. When the model is finished, the student can ship the model out and fulfill the request.</p>
    <p>Eventually, we hope to extend this project to the greater Cincinnati area, involving a wide variety of schools to participate and to help improve the effort.</p>
  </div>
</div>
{% endblock %}
