{% extends "navbar.html" %}

{% block navbar_body %}
<div class="container">

  <div class="jumbotron">
    <h1>Welcome to the Gallery!</h1>
    <p>As a creator, here you can browse and accept requests.</p>
  </div>

  <div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        <tr>
          <td>{{ request.title|e }}</td>
          <td>{{ request.description|e }}</td>
          <td>{{ request.user.email|e }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
