{% extends "navbar.html" %}

{% block navbar_body %}
<div class="container">
  <div>
    <h1>Welcome to the Gallery!</h1>
    <p>As a creator, here you can browse and accept requests. Note that no one else is able to work on a request once it is accepted, so be sure to complete it in a timely manner!</p>
  </div>
  <div class="page-header">
    <h2>Available Requests</h2>
  </div>
  <div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        <tr>
          <td>{{ request.title|truncate(50)|e }}</td>
          <td>{{ request.description|truncate(75)|e }}</td>
          <td>{{ request.user.email|e }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
