{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<meta name="google-signin-client_id" content="151432626794-3svgnd49h2fjmngk1cuatmrmna5n05jl.apps.googleusercontent.com">
<meta name="google-signin-scope" content="profile email">
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="header">
    <h1>See3D</h1>
    <p>
      Join our community-driven effort to bring 3D printed models into the hands of the blind and visually impaired. Request a model today!
    </p>
    <br>
    <div class="g-signin2" data-longtitle="true" data-theme="light" data-onsuccess="onSignIn"></div>
    <script>
      function onSignIn(googleUser) {
        // Get ID token from successfully logged in user (requires HTTPS).
        var id_token = googleUser.getAuthResponse().id_token;
        var csrf_token = '{{ csrf_token() }}';
      
        // Send the ID token to backend with an HTTPS POST request.
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for("oauth2callback") }}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrf_token);
        xhr.onload = function() {
          document.location = {{ url_for('profile') }};
        }
        xhr.send('idtoken=' + id_token);
      }
    </script>
  </div>
</div>
{% endblock %}
