{% extends "navbar.html" %}

{% block navbar_body %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to your profile!</h1>
  </div>
  <div class="page-header">
    {% if current_user.is_creator %}
    <h2>Current Projects</h2>
    {% else %}
    <h2>Your Requests</h2>
    {% endif %}
  </div>
  <div>
    {% if requests.count() > 0 %}
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        {% set request_id = request.id %}
        <tr>
          <td>{{ request.title|truncate(50)|e }}</td>
          <td>{{ request.description|truncate(75)|e }}</td>
          <td><a href="{{ url_for('view_request', request_id=request_id) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}

    {% if current_user.is_creator %}
    <p>You have not accepted any requests yet. Head over to the <a href={{ url_for('gallery') }}>gallery</a> to find some! (You can accept a maximum of 3)</p>
    {% else %}
    <p>No requests yet! Click <a href={{ url_for('submit') }}>here</a> to create one.</p>
    {% endif %}

    {% endif %}
  </div>
</div>
{% endblock %}
