{% extends "navbar.html" %}

{% block navbar_head %}
<meta name="google-signin-client_id" content="151432626794-3svgnd49h2fjmngk1cuatmrmna5n05jl.apps.googleusercontent.com">
{% endblock %}

{% block navbar_body %}

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      document.location = {{ url_for('index') }};
    });
  }
  function onLoad() {
    gapi.load('auth2', function() {
      gapi.auth2.init();
    });
  }
</script>

<div class="container">

  <div class="jumbotron">
    <h2>Hello, <strong>{{ current_user.name|e }}</strong>, welcome to your profile!</h2>
  </div>

  <div class="page-header">
    <h3>Your Active Requests</h3>
  </div>

  <div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        <tr>
          <td>{{ request.title|e }}</td>
          <td>{{ request.description|e }}</td>
          <td><a href={{ url_for('del_request', request_id=request.id) }}>Delete this post</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="page-header">
    <h3>Options</h3>
  </div>

  <div>
    <ul>
      <li><a href="javascript:void(0)" onclick="signOut();">Sign out</a></li>
      <li><p>Delete account</p></li>
    </ul>
  </div>

</div>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% endblock %}
