{% extends "navbar.html" %}

{% block navbar_body %}
<div class="container">

  <div class="page-header">
    <h1>Create a new request</h1>
    <p>Include a descriptive body that states precisely what kind of model you want. Don't worry about making a mistake, you can always update this again later.</p>
  </div>

  <form action="" method="post">
    {{ form.csrf_token() }}
    <div class="form-group">
      <label for="input_title">Title</label>
      {{ form.title(class="form-control", id="input_title", placeholder='Enter title') }}
    </div>
    <div class="form-group">
      <label for="input_description">Description</label>
      {{ form.description(class="form-control", id="input_description", placeholder='Enter description') }}
    </div>
    <button type="submit" class="btn btn-default">Submit Request</button>
    <a href={{ url_for('profile') }} class="btn btn-link">Cancel</a>
  </form>

</div>
{% endblock %}
