{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h2>Submit a request</h2>
    <p>Include a descriptive body that states precisely what kind of model you want. Don't worry about making a mistake, you can always update this again later.</p>
  </div>
  <form action="" method="post">
    {{ form.csrf_token() }}
    <div class="form-group">
      <label for="input_title">Title</label>
      {{ form.title(class="form-control", id="input_title", placeholder='Title') }}
    </div>
    <div class="form-group">
      <label for="input_description">Description</label>
      {{ form.description(class="form-control", id="input_description", placeholder='Description') }}
    </div>
    <button type="submit" class="btn btn-default">Submit Request</button>
    <a href={{ url_for('gallery') }} class="btn btn-link">Cancel</a>
  </form>
</div>
{% endblock %}